/* Checkpoint: Latihan landing page no.18 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;

  height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
}

header.navbar-container {
  margin: 0 10px;
  padding-left: 0;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
header.navbar-container .logo img {
  width: 150px;
}

.nav-list ul {
  display: flex;
  gap: 2rem 1rem;
}
.nav-list li {
  list-style-type: none;
}
